.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #eef1f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e5e9df;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:rgba(245, 244, 235, 0.651);
}


/* body{
  background-image: url(https://w0.peakpx.com/wallpaper/320/494/HD-wallpaper-krishna-amazing-life-peacock-feather-sun-universe-wonderful-world-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}  */
